/* -------------------------- STYLING FOR SLIDER IMAGES------------------------*/
	.slidder_container
	{
		width: 95%;
		position: relative;
		margin: 40px auto;


		z-index: 1;
	}

	.swiper{
		width: 100%;
		height: 600px;
		
		margin: auto;
	}

	.swiper-slide img{
		width: 100%;
		background-position: center;
		background-size: cover;
		height: 100%;
		
	}

	.swiper .swiper-button-prev, .swiper .swiper-button-next
	{	
		color: white;
	}

	.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover{
		color: #00545d;
	}


	.swiper .swiper-pagination-bullet-active{
		background: white;
		width: 20px;
		border-radius: 10px;
	}

	.swiper .swiper-pagination-bullet-active:hover{
		background: #00545d;
	}
	@media only screen and (max-width : 700px){
		.swiper{
			height: 400px;
		}
	}
  
  /*---------------------------------------------------------------------------------*/

.content_p{
	z-index: 10;
    position: relative;
    padding: 20px 30px;
    background-color: rgba(255, 255 , 255, 0.07);
    left: 0;
    width: 70%;
    font-size: 1.5rem;
    border-radius: 20px;
    backdrop-filter: blur(200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    color: #fff;
    /*margin: 20px 30px 100px;*/
    margin: auto;
    margin-bottom: 100px;

}

.content_p span{
	display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events: none;
    z-index: 40;
}

.content_p span::before{
    content: '';
    position: absolute;
    top:-50px;
    left:10px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(100px);
    transition: .5s;
    background: rgba(255, 255 , 255, 0.1);
    animation:animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rbga(0, 0, 0, 0.5);
}


.content_p span::after{
    content: '';
    position: absolute;
    bottom:-50px;
    right:10px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(100px);
    transition: .5s;
    background: rgba(255, 255 , 255, 0.1);
    animation:animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rbga(0, 0, 0, 0.5);
}


/*.content_p:hover span::before{
    top: -50px;
    left:10px;
    width: 100px;
    height: 100px;
    opacity: 1;
}*/
@keyframes animate {
    0%, 100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

@media only screen and (max-width:600px){
	.content_p{
		font-size: 1rem;
	}
    .content_p span::before, .content_p span::after{
        width: 75px;
        height: 75px;
    }
}